# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a %2 ==0 and b %2 ==0:# check if num is even
        if a<b:
            return a
        else: 
            return b
            
    elif a %2 !=0 or b %2 !=0:# check if num is odd
        if a>b:
            return a
        else: 
            return b

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers(text):
    s=text.split()#split text
    if s[0][0] == s[1][0]:#check if frist letter in frist word  equl frist letter in second word
        print('true')
    else:
        print('false')

In [17]:
# Check
animal_crackers('Levelheaded Llama')

true

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        print("true")
    elif n1+n2==20:
        print("true")
    else:
        print("false")

In [20]:
# Check
makes_twenty(20,10)

true

In [21]:
# Check
makes_twenty(2,3)

false

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [32]:
def old_macdonald(name):
    s=name[0].upper()
    linght=
    print(s+name[1:len(name)])

In [33]:
# Check
old_macdonald('macdonald')

Macdonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [203]:
def almost_there(n):
   
    if (n in range(90,110)):
        return True
    elif (n in range(190, 210)):
            return True
    else:
        return False
    
def almost_there(n):
    if (abs(100 -n) < 10) or (abs(200-n)<10):
        return True
    else:
        return False # def almost_there(n):
    if (n in range(90,110)):
        return True
    elif (n in range(190, 210)):
        return True
    else:
        return False
    
def almost_there(n):
     if (abs(100 -n) < 10) or (abs(200-n)<10):
        return True
     else:
        return False

In [204]:
# Check
almost_there(90)

False

In [205]:
# Check
almost_there(104)

True

In [206]:
# Check
almost_there(150)

False

In [207]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [149]:
def has_33(nums):
    
    for num in list(nums):
        if nums[num:num+2] ==[3,3]:
            print("true")
        else:
            print("false")

In [150]:
# Check
has_33([1, 3, 3])

true
false
false

In [151]:
# Check
has_33([1, 3, 1, 3])

false
false
false
false

In [152]:
# Check
has_33([3, 1, 3])

false
false
false

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [161]:
def paper_doll(text):
    s=""
    for letter in text:
        s+= letter*3
    return s

In [162]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [163]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [89]:
def blackjack(a,b,c):
    if a in range(1,11) or b in range(1,11) or c in range(1,11):
        if a+b+c<=21:
            return a+b+c
    elif a+b+c>21 and a==11 or b==11 or c==11:
        m= a+b+c-10
            return m
                if m>21:
                    return print('BUST')

IndentationError: unexpected indent (897101341.py, line 7)

In [90]:
# Check
blackjack(5,6,7)

18

In [92]:
# Check
blackjack(9,9,9)

In [81]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [199]:
def summer_69(arr):
    list_sum=0
    for num in  list(arr):
        if num  in range(6,10):
            print("false")
        else:
            list_sum +=num
    return list_sum

In [200]:
# Check
summer_69([1, 3, 5])

9

In [201]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

false
false
false
false

9

In [202]:
# Check
summer_69([2, 1, 6, 9, 11])

false
false

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [129]:
def spy_game(nums):

    test = [0,0,7,'x']

    for n in nums:
        
        if n == test[0]:
        
            test.pop(0) # remove(num) also works

    return len(test) == 1

In [130]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [131]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [132]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [147]:
def count_primes(num):
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
        if prime:
            print(n)

In [148]:
# Check
count_primes(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Great Job!