# SF Salaries Exercise

** Import pandas as pd.**

In [86]:
import pandas as pd # import laybrary name pandas  that presents a diverse range of utilities

** Read Salaries.csv as a dataframe called sal.**

In [87]:
file=pd.read_csv('Salaries.csv')# to read from exal

** Check the head of the DataFrame. **

In [5]:
file.head()#frist 5 rows if we want more writ number bteween ()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
file.info()# know basic info of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [8]:
file['BasePay'].mean()#giv the average of BasePay

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
file['OvertimePay'].max() #giv the maximum of OvertimePay

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
# Pass a list of column names
file[file['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'] # show column 'EmployeeName' row 'JobTitle' that EmployeeName==JOSEPH DRISCOLL

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [22]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'] # show column 'EmployeeName' row 'TotalPayBenefits' that EmployeeName==JOSEPH DRISCOLL

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [29]:
file[file['EmployeeName'] == df['TotalPayBenefits'].max()] # show column 'EmployeeName' row 'TotalPayBenefits' that  'TotalPayBenefits' is maximum

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [71]:
df[df['EmployeeName'] == df['TotalPayBenefits'].min()]# show column 'EmployeeName' row 'TotalPayBenefits' that  'TotalPayBenefits' is minimum

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [33]:
by_comp=file.groupby('Year') # arranging the column 'year' 
by_comp['BasePay'].mean() # given the mean to 'BasePay' to each 'year'

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [36]:
file['JobTitle'].nunique()#no. of unique values

2159

** What are the top 5 most common jobs? **

In [38]:
file['JobTitle'].value_counts() .head(5) # show count values of  each columns to frist 5 top

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [66]:
e=file[file['Year']==2013]# given data of year=2013

d=e['JobTitle'].value_counts() # count number of JobTitle that in 2013
sum(d)

37606

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [89]:
file[file['jobtitle']== ' Chief ']

KeyError: 'jobtitle'

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [88]:
file['title_len']=file['JobTitle'].apply(len) # create new column apply in len of JobTitle
file[['TotalPayBenefits', 'title_len']].corr() # give the correlation with  TotalPayBenefits and title_len

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!